/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

  /* Site Styles

  /* Page Styles */

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  @import 'lib';

  html {
    font: normal 100% 'Helvetica', sans-serif;
  }

  .logo-globe {
    height: 6em;
    float:left;
  }

  .logo {
    height: 6em;
  }

  #page {
    margin: 4em auto;
    max-width: 61.75em; /* 988px / 16px = 61.75em */
    position: relative;
    padding-bottom: 8em;
  }

  header {
    .grid(3,@max-width-px);
    height: 8em;

    .logo-globe {
      position: absolute;
      top: 50%;
      left: 0;
    }
    h1 {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .day {
    .grid(1,@max-width-px,1);
    float:left;

    &.sunday {
      .header {
        background-color: @sunday;
      }
      .event1 {
        .gradient(@sunday1,@sunday1,@sunday2);
      }
      .event2 {
        .gradient(@sunday2,@sunday2,@sunday3);
      }
      .event3 {
        .gradient(@sunday3,@sunday3,@sunday4);
      }
      .event4 {
        .gradient(@sunday4,@sunday4,@sunday5);
      }
      .event5 {
        .gradient(@sunday5,@sunday5,@sunday6);
      }
    }

    &.monday {
      .header {
        background-color: @monday;
      }
      .event1 {
        .gradient(@monday1,@monday1,@monday2);
      }
      .event2 {
        .gradient(@monday2,@monday2,@monday3);
      }
      .event3 {
        .gradient(@monday3,@monday3,@monday4);
      }
      .event4 {
        .gradient(@monday4,@monday4,@monday5);
      }
      .event5 {
        .gradient(@monday5,@monday5,@monday6);
      }
    }

    &.tuesday {
      .header {
        background-color: @tuesday;
      }
      .event1 {
        .gradient(@tuesday1,@tuesday1,@tuesday2);
      }
      .event2 {
        .gradient(@tuesday2,@tuesday2,@tuesday3);
      }
      .event3 {
        .gradient(@tuesday3,@tuesday3,@tuesday4);
      }
      .event4 {
        .gradient(@tuesday4,@tuesday4,@tuesday5);
      }
      .event5 {
        .gradient(@tuesday5,@tuesday5,@tuesday6);
      }
    }

    &.wednesday {
      .header {
        background-color: @wednesday;
      }
      .event1 {
        .gradient(@wednesday1,@wednesday1,@wednesday2);
      }
      .event2 {
        .gradient(@wednesday2,@wednesday2,@wednesday3);
      }
      .event3 {
        .gradient(@wednesday3,@wednesday3,@wednesday4);
      }
      .event4 {
        .gradient(@wednesday4,@wednesday4,@wednesday5);
      }
      .event5 {
        .gradient(@wednesday5,@wednesday5,@wednesday6);
      }
    }

    &.thursday {
      .header {
        background-color: @thursday;
      }
      .event1 {
        .gradient(@thursday1,@thursday1,@thursday2);
      }
      .event2 {
        .gradient(@thursday2,@thursday2,@thursday3);
      }
      .event3 {
        .gradient(@thursday3,@thursday3,@thursday4);
      }
      .event4 {
        .gradient(@thursday4,@thursday4,@thursday5);
      }
      .event5 {
        .gradient(@thursday5,@thursday5,@thursday6);
      }
    }

    &.friday {
      .header {
        background-color: @friday;
      }
      .event1 {
        .gradient(@friday1,@friday1,@friday2);
      }
      .event2 {
        .gradient(@friday2,@friday2,@friday3);
      }
      .event3 {
        .gradient(@friday3,@friday3,@friday4);
      }
      .event4 {
        .gradient(@friday4,@friday4,@friday5);
      }
      .event5 {
        .gradient(@friday5,@friday5,@friday6);
      }
    }

    &.saturday {
      .grid(1,@max-width-px);

      .event {
        margin-right: 0;

        &:first-of-type {
          /*border-top-right-radius: 10%;*/
        }

        &:last-of-type {
          /*border-bottom-right-radius: 10%;*/
        }
      }

      .header {
        background-color: @saturday;
      }
      .event1 {
        .gradient(@saturday1,@saturday1,@saturday2);
      }
      .event2 {
        .gradient(@saturday2,@saturday2,@saturday3);
      }
      .event3 {
        .gradient(@saturday3,@saturday3,@saturday4);
      }
      .event4 {
        .gradient(@saturday4,@saturday4,@saturday5);
      }
      .event5 {
        .gradient(@saturday5,@saturday5,@saturday6);
      }
    }
  }

  .description {
    color: rgb(231,231,231);
    .grid(7,@max-width-px);
    padding: 1em;
    margin-bottom: 0.25em; /* 4/16 */
  }

  .events {
    .grid(7,@max-width-px);
    color: white;
    font-weight: bold;

    /* Clearfix */
    zoom:1; /* For IE 6/7 (trigger hasLayout) */

    &:before,
    &:after {
      content:"";
      display:table;
    }
    &:after {
      clear:both;
    }

    .event {
      margin-right: 2.08%; /* 3/144 */
      margin-bottom: 0.0625em; /* 1/16 */
      height: 2em;
      text-align: right;
      padding-right: 2.77%; /* 4/144 */
      padding-top: .4em;
    }

    .header {
      margin-bottom: 0.1875em; /* 3/16 */
      height: 3em;
      font-size: 1.125em;
      padding-top: 1.4em;
      padding-right: 2ex;
    }

  }

  footer {
    .grid(2,@max-width-px,1);
    .rounded-corners(60px);
    background-color: rgba(231,231,231,1);
    display: inline-block;
    padding: 0.4em;
    position: absolute;
    bottom: 0;
    right: 0;

    .social {

      padding-top: 0.1em;
      padding-left: 35%;

      strong {
        color: @saturday1;
      }

      p {
        padding: 0;
        margin: 0;
        padding-left: 22%;
        font-weight: bold;
        color: DarkBlue;
      }

      nav {
        font-size: 1.875em; /*30/16*/
        margin-left: 9%;

        > a {
          margin-left: 10%;

          &[class*=facebook] {
            margin-left: 0;
            color: rgb(59, 89, 152);
          }

          &[class*=twitter] {
            color: rgb(0, 172, 237);
          }

          &[class*=email] {
            color: white;
          }
        }

      }
    }
  }

/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

a[class*="zocial-"] {
  text-decoration: none;
}

