@import 'page-wide';
@import 'lib';
@import 'header';
@import 'footer';
@import 'font-icons';
@import 'events';
@import 'descriptions';

.description {
  background-color: rgba(231,231,231, .5);
  .grid(7,@max-width-px);
  padding: .625em;
  margin-bottom: 0.375em; /* 6/16 */
  .rounded-corners;
}
